In [3]:
# Exercise 1: Identifying and Handling Missing Data

import pandas as pd

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [24, 30, None, 22, 35],
    'Salary': [48000, None, 57000, None, 60000]
}
df = pd.DataFrame(data)

# Filling missing values and dropping rows
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

print("After cleaning:")
print(df)

After cleaning:
      Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  27.75  57000.0
3    David  22.00  57000.0
4     None  35.00  60000.0

In [4]:
# Exercise 2: Standardizing Categorical Data
# Sample dataset with inconsistent categorical values

data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

# Standardize category values
df['Category'] = df['Category'].str.capitalize()
print('Standardized Data:\n', df)

Standardized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

In [7]:
import pandas as pd

path = "/home/sita/Downloads/titanic.csv"

# Baca dataset Titanic
df = pd.read_csv(path)

print("Dataset berhasil dimuat dari:", path)
print("\nPreview Data:")
print(df.head())

Dataset berhasil dimuat dari: /home/sita/Downloads/titanic.csv

Preview Data:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [12]:
# Practice Task 1: Load a dataset of your choice and identify missing values.

import pandas as pd

# Load Titanic dataset
path = "/home/sita/Downloads/titanic.csv"
df = pd.read_csv(path)

# Cek informasi umum
print("=== Informasi Dataset ===\n")
print(df.info())

# Cek jumlah missing value per kolom
print("\n=== Missing Values ===\n")
print(df.isnull().sum())

=== Informasi Dataset ===

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

=== Missing Values ===

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [14]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.7/9.7 MB 1.1 MB/s eta 0:00:00m eta 0:00:01[36m0:00:010m
Collecting joblib>=1.2.0
  Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 308.4/308.4 KB 1.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting scipy>=1.8.0
  Downloading scipy-1.15.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.7/37.7 MB 850.2 kB/s eta 0:00:00 eta 0:00:01[36m0:00:01m
Requirement already satisfied: numpy>=1.22.0 in ./.local/lib/python3.10/site-packages (from scikit-learn) (2.2.6)
Collecting threadpoolctl>=3.1.0
  Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.15.3 threadpoolctl-3.6.0

In [18]:
# Practice Task 2: Implement data transformations to normalize numerical columns.

from sklearn.preprocessing import MinMaxScaler

# Pilih kolom numerik
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Buat salinan data untuk normalisasi
df_norm = df.copy()

# Terapkan normalisasi Min-Max
scaler = MinMaxScaler()
df_norm[numeric_cols] = scaler.fit_transform(df_norm[numeric_cols])

print("\n=== Data setelah normalisasi (7 baris) ===\n")
print(df_norm[numeric_cols].head(7))

=== Data setelah normalisasi (7 baris) ===

   PassengerId  Survived  Pclass       Age  SibSp     Parch      Fare
0     0.000000       0.0     1.0  0.452723  0.000  0.000000  0.015282
1     0.002398       1.0     1.0  0.617566  0.125  0.000000  0.013663
2     0.004796       0.0     0.5  0.815377  0.000  0.000000  0.018909
3     0.007194       0.0     1.0  0.353818  0.000  0.000000  0.016908
4     0.009592       1.0     1.0  0.287881  0.125  0.111111  0.023984
5     0.011990       0.0     1.0  0.182382  0.000  0.000000  0.018006
6     0.014388       1.0     1.0  0.393380  0.000  0.000000  0.014891

In [19]:
# Practice Task 3: Standardize categorical columns and remove duplicates.

# Pilih kolom kategorikal
categorical_cols = df.select_dtypes(include=['object']).columns

# Lakukan one-hot encoding
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Hapus duplikat
before = len(df_encoded)
df_encoded.drop_duplicates(inplace=True)
after = len(df_encoded)

print(f"\nJumlah data sebelum hapus duplikat: {before}")
print(f"Jumlah data setelah hapus duplikat: {after}")

print("\n=== Contoh data setelah encoding ===\n")
print(df_encoded.head())

Jumlah data sebelum hapus duplikat: 418
Jumlah data setelah hapus duplikat: 418

=== Contoh data setelah encoding ===

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  \
0          892         0       3  34.5      0      0   7.8292
1          893         1       3  47.0      1      0   7.0000
2          894         0       2  62.0      0      0   9.6875
3          895         0       3  27.0      0      0   8.6625
4          896         1       3  22.0      1      1  12.2875

   Name_Abelseth, Miss. Karen Marie  Name_Abelseth, Mr. Olaus Jorgensen  \
0                             False                               False
1                             False                               False
2                             False                               False
3                             False                               False
4                             False                               False

   Name_Abrahamsson, Mr. Abraham August Johannes  ...  Cabin_F  Cabin_F E46  \
0                                          False  ...    False        False
1                                          False  ...    False        False
2                                          False  ...    False        False
3                                          False  ...    False        False
4                                          False  ...    False        False

   Cabin_F E57  Cabin_F G63  Cabin_F2  Cabin_F33  Cabin_F4  Cabin_G6  \
0        False        False     False      False     False     False
1        False        False     False      False     False     False
2        False        False     False      False     False     False
3        False        False     False      False     False     False
4        False        False     False      False     False     False

   Embarked_Q  Embarked_S
0        True       False
1       False        True
2        True       False
3       False        True
4       False        True

[5 rows x 864 columns]